@model MSL.Models.SystemComplianceViewModel

<div class="panel-body" ng-controller="dashboard">
    <form name="form" class="form-horizontal" ng-validate="SubmitEmployees(data)" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <br />

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Server State:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.ServerState, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Application/System Use:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.ApplicationSystemUse, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Asset Tag:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.AssetTag, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Backup Client Agent NAME & Version:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.BackupClientAgentNameVersion, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Backup Master:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.BackupMaster, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Backup Type:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.BackupType, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Comment :</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">CPU Cores per CPU:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.CPUCoresCPU, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Number of CPUs:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.NumberCPUs, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">CPU Sockets # :</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.CPUSockets, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">CPU Speed (in MHz):</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.CPUSpeedMHz, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">DataCenter Location:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.DataCenterLocation, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">DNS Domain:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.DNSDomain, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Global Support Access Restriction:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.GlobalSupportAccessRestriction, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Grid Location:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.GridLocation, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Hardware Model:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.HardwareModel, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Manufacturer:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.Manufacturer, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">HostID (Used For SUN Servers Support):</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.HostID, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Internal # Drives / Drive Capacity:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.InternalDrivesDriveCapacity, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">IP Address:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.IPAddress, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Cluster Name:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.ClusterName, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Kernel Patch:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.KernelPatch, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Memory (GB):</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.MemoryGB, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Prescriptive Service Level:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.PrescriptiveServiceLevel, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Processor:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.Processor, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="" class="col-xs-6 control-label">Initial Deployment Date:</label>
                                    <div class="col-xs-6">
                                        <div class="input-group date" ng-datepicker>
                                            @Html.EditorFor(model => model.InitialDeploymentDate, new { htmlAttributes = new { @class = "form-control" } })
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                         
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">RAID Level:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.RAIDLevel, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Room/Floor:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.RoomFloor, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Network Space Storage - SAN Array Name:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.NetworkSpaceStorageSANName, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Network Space Storage Allocated (GB):</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.NetworkSpaceStorageAllocatedGB, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Functional Description :</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.FunctionalDescription, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="row form-group">
                                    <label class="col-xs-6 control-label">Server Category:</label>
                                    <div class="col-xs-6">
                                       @Html.DropDownListFor(m => m.ServerCategory,
                                        new List<SelectListItem>
                                        {
                                            new SelectListItem() { Text = "Show All Records", Value = "Show All Records" },
                                            new SelectListItem() { Text = "Show Invalid Records", Value = "Show Invalid Records" },
                                            new SelectListItem() { Text = "Show Valid Records", Value = "Show Valid Records" }
                                        }, new { @class = "form-control", Name = "submitButton" })
                                         
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="row form-group">
                                    <label class="col-xs-6 control-label">Server Usage Type:</label>
                                    <div class="col-xs-6">
                                       @Html.DropDownListFor(m => m.ServerUsageType,
                                        new List<SelectListItem>
                                        {
                                            new SelectListItem() { Text = "Show All Records", Value = "Show All Records" },
                                            new SelectListItem() { Text = "Show Invalid Records", Value = "Show Invalid Records" },
                                            new SelectListItem() { Text = "Show Valid Records", Value = "Show Valid Records" }
                                        }, new { @class = "form-control", Name = "submitButton" })
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Street Address:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.StreetAddress, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Support Organization:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.SupportOrganization, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">Support Team:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.SupportTeam, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">TimeZone:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.TimeZone, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-6 control-label">XEN-HOST:</label>
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.XENHOST, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-right">
            <div class="row text-right">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" id="btnSavetoDB" name="submitButton" value="Save to DB">
                        <span> <i class="fa fa-save"></i>  Save to Database </span>
                    </button>
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-danger" type="submit" id="btnRemoveFromGrid" name="submitButton" value="Remove Item From Grid">
                        <span> <i class="fa fa-remove"></i>  Remove </span>
                    </button>
                    &nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </form>
</div>
